<h1>Submitted Forms</h1>

<table class="table">
  <thead>
    <tr>
      <th>Form 1</th>
      <th>Form 2</th>
      <th>Form 3</th>
      <th>Form 4</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><a class="btn btn-primary btn-lg" role="button" <%= link_to 'submit a new form', new_address_path %></td>
        <td><a class="btn btn-primary btn-lg" role="button" <%= link_to 'submit a new form', new_address_path %></td>
        <td><a class="btn btn-primary btn-lg" role="button" <%= link_to 'submit a new form', new_address_path %></td>
        <td><a class="btn btn-primary btn-lg" role="button" <%= link_to 'submit a new form', new_address_path %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>

</table>