<h1>Submit a New DMV Form</h1>
<h5 style="color:#999999">select the form type from the list below, upload file, and press 'submit form'</h5>
<br>
<%= render 'form' %>

<a class="btn btn-secondary btn-sm" role="button" <%= link_to "back", addresses_path %>
<br>
