<div class="jumbotron">

<h1>Submit a Form</h1>
<br>
<h5 style="color:#999999">To submit a new form, select the form ID, select a file, and press 'submit form'.</h5>
<br>
<%= render 'form' %>

</div>




