<div class="jumbotron">

<h1>Available Forms</h1>
<br>
<br>

<table class ="table">
  <thead>
    <tr>
      <th>Form ID</th>
      <th>Form Name</th>
      <th>Download Form</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>DMV 14</td>
        <td>change of address</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/d7d1a212-f8df-45b1-a9ee-c09454a5b423/dmv14.pdf?MOD=AJPERES">download</a></td>
      </tr>
      <tr>
        <td>INF 1125</td>
        <td>request for registration record</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/9dbbabee-26d3-4490-80db-b7e161a3e6b8/inf1125.pdf?MOD=AJPERES">download</a></td>
      </tr>
      <tr>
        <td>SR 1</td>
        <td>traffic accident report</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/18eb2422-e5ea-4b88-9322-c0f8330862f9/sr1.pdf?MOD=AJPERES">download</a></td></td>
      </tr>
      <tr>
        <td>REG 135</td>
        <td>bill of sale</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/b04d574c-a959-4160-953b-faf62a66cd3a/reg135.pdf?MOD=AJPERES">download</a></td></td>
      </tr>
      <tr>
        <td>REG 138</td>
        <td>release of liability</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/503960c5-6d95-4e5f-b123-3f584e16c012/reg138.pdf?MOD=AJPERES">download</a></td></td>
      </tr>

      <tr>
        <td>REG 227</td>
        <td>request for duplicate title</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/7885d40d-4d2e-4fc0-b100-3ef8fe562bd7/reg227.pdf?MOD=AJPERES">download</a></td>
      </tr>
      <tr>
        <td>REG 343</td>
        <td>request for title or registration</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/8c4e5fdb-a44e-44f6-853b-eabd471afdaa/reg343.pdf?MOD=AJPERES">download</a></td>
      </tr>
      <tr>
        <td>REG 256</td>
        <td>statement of facts</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/5a40cbcc-a9a9-4a42-ac43-a8564fa552c0/reg256.pdf?MOD=AJPERES">download</a></td></td>
      </tr>
      <tr>
        <td>REG 17</td>
        <td>special interest license plate</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/6d97bdef-c5b1-46ee-a558-28ab938e4ec3/reg17.pdf?MOD=AJPERES">download</a></td></td>
      </tr>
      <tr>
        <td>REG 156</td>
        <td>request for replacement items</td>
        <td><a href="https://www.dmv.ca.gov/portal/wcm/connect/78848945-2d42-4903-a38b-329805062c7e/reg156.pdf?MOD=AJPERES">download</a></td></td>
      </tr>

  </tbody>
</table>

<br>
<% if current_user %> 
<a class="btn btn-primary btn-lg" role="button" <%= link_to 'submit a new form', new_address_path %>
<% end %> 



</div>