<div class="jumbotron">

<h1>New Appointment</h1>
<br>
<h5 style="color:#999999">To schedule a new appointment, select a reason, select a time slot, and press 'schedule appointment'.</h5>
<br>

<%= render 'form' %>

</div>
